@use "../abstract/mixins" as mixin;

.game-wrapper {
    min-height: 100vh;
    margin: 0px 112px 0px 112px;
    display: flex;
    flex-direction: column;
}

.field-wrapper {
    @include mixin.flex-center;
    flex: 1;
}

.blue-player {
    color: #2BB1FF;
}

.orange-player {
    color: #F58E39;
}

.draw-player {
    color: var(--draw-color, var(--game-over-color));
    text-shadow: var(--game-over-text-shadow);
}